In [2]:
import pandas as pd

In [3]:
#training data from kaggle
df = pd.read_csv("spotify_millsongdata.csv")

In [4]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [5]:
#checking for null values
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [6]:
df.shape

(57650, 4)

In [7]:
#taking a sample due to gpu overhead
df=df.sample(5000)

In [8]:
df.shape

(5000, 4)

In [9]:
#dropping link column
df=df.drop('link',axis=1).reset_index(drop=True)

In [10]:
df.tail(10)

,artist,song,text
4990,Johnny Cash,Girl In Saskatoon,I left a little town \r\nA little south of Hu...
4991,New Order,Doubts Even Here,Those steps which seem to take a lifetime \r\...
4992,Scorpions,Wild Child,Don't hear the phone that rings \r\nI know th...
4993,Incubus,While All The Vultures Feed,The future is on fire \r\nOf a dying breed. ...
4994,Britney Spears,Hang Up,"Baby, I'm Lying all alone, \r\nThe pillow is ..."
4995,Diana Ross,Love Is Here And Now You're Gone,Love is here \r\n(Love is here) \r\nAnd oh m...
4996,Madonna,Buenos Aires,(Eva:) \r\nWhat's new Buenos Aires? \r\nI'm ...
4997,Clash,Lose This Skin,Come with me. I won't hide \r\nWe're going on...
4998,Regine Velasquez,Hagkan,I. \r\nHagkan at iyong pagmasdan \r\nAng ati...
4999,Wanda Jackson,In The Middle Of A Heartache,I'm in the middle of a heartache half out half...

Text cleaning /Text Processing

In [11]:
df['text']=df['text'].str.lower().replace(r'^\w\s',' ',regex=True).replace(r'\n',' ',regex=True)

In [12]:
df

,artist,song,text
0,Korn,Lullaby For A Sadist,it's easy i walk the circle i come down long a...
1,LL Cool J,The Power Of God,"something real smooth \r yeah, yeah \r yeah ..."
2,Horrible Histories,Pachacuti,"i'm pachacuti, the incan lord \r all other tr..."
3,James Taylor,The Promised Land,"left my home in norfolk, virginia, california ..."
4,Celine Dion,All Because Of You,thought i could define it \r one look in your...
...,...,...,...
4995,Diana Ross,Love Is Here And Now You're Gone,love is here \r (love is here) \r and oh my ...
4996,Madonna,Buenos Aires,(eva:) \r what's new buenos aires? \r i'm ne...
4997,Clash,Lose This Skin,come with me. i won't hide \r we're going on ...
4998,Regine Velasquez,Hagkan,i. \r hagkan at iyong pagmasdan \r ang ating...
4999,Wanda Jackson,In The Middle Of A Heartache,i'm in the middle of a heartache half out half...

1Tokenizing->2stopwards removal->3 stemming

In [13]:
import nltk
from nltk.stem.porter import PorterStemmer

In [14]:
stemmer=PorterStemmer()

In [15]:
nltk.download('punkt')
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ratan\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\ratan\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

Not used stopwords till now

In [16]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ratan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [17]:
def token(txt):
    token=nltk.word_tokenize(txt)
    a=[stemmer.stem(w) for w in token]
    return " ".join(a)

In [18]:
token("you are beautiful,beauty,running")

'you are beauti , beauti , run'

tokenizing and stemming actual data

Tutorial did not stored the stemmed data into df['text']

In [19]:
df['text']=df['text'].apply(lambda x: token(x))

In [20]:
df

,artist,song,text
0,Korn,Lullaby For A Sadist,it 's easi i walk the circl i come down long a...
1,LL Cool J,The Power Of God,"someth real smooth yeah , yeah yeah we 'll get..."
2,Horrible Histories,Pachacuti,"i 'm pachacuti , the incan lord all other trib..."
3,James Taylor,The Promised Land,"left my home in norfolk , virginia , californi..."
4,Celine Dion,All Because Of You,thought i could defin it one look in your eye ...
...,...,...,...
4995,Diana Ross,Love Is Here And Now You're Gone,"love is here ( love is here ) and oh my darl ,..."
4996,Madonna,Buenos Aires,"( eva : ) what 's new bueno air ? i 'm new , i..."
4997,Clash,Lose This Skin,come with me . i wo n't hide we 're go on a ri...
4998,Regine Velasquez,Hagkan,i. hagkan at iyong pagmasdan ang ate kaysang n...
4999,Wanda Jackson,In The Middle Of A Heartache,i 'm in the middl of a heartach half out half ...

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [22]:
Tfid=TfidfVectorizer(analyzer='word', stop_words='english')

In [23]:
matrix=Tfid.fit_transform(df['text'])

In [24]:
similar=cosine_similarity(matrix)

In [25]:
similar[0]

array([1.        , 0.04591724, 0.011981  , ..., 0.06262385, 0.        ,
       0.09172974])

In [26]:
similar[1]

array([0.04591724, 1.        , 0.01841653, ..., 0.05909082, 0.        ,
       0.00807995])

In [38]:
df[df['song']=="Hagkan"].index[0]

np.int64(4998)

Recommender function

In [55]:
def recommender(song_name):
    matches=df[df['song'].str.lower() ==song_name.lower()]
    if matches.empty:
        print(f"Song '{song_name}' not found in the dataset.")
        return []
    idx=matches.index[0]
    distance=sorted(list(enumerate(similar[idx])),reverse=True,key=lambda x:x[1])
    song=[]
    for so_id in distance[1:5]:
        song.append(df.iloc[so_id[0]].song)
    return song

In [60]:
recommender("god's plan")

Song 'god's plan' not found in the dataset.

[]

In [57]:
import pickle

In [58]:
pickle.dump(similar, open("similarity","wb"))

In [59]:
pickle.dump(df, open("df","wb"))